#viewer-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px;
  #selectors-container{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    background-color: #e0f2f1;
    color: black;
    border: 2px solid rgba(44,44,44,0.2);
    overflow: scroll;
  }
}
